@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-slate-800
}